<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Local_Loop">
        <activity
            android:name=".Event.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Category.CategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.OrganizerWelcomePage"
            android:exported="false" />
        <activity
            android:name=".Welcome.AdminWelcomePage"
            android:exported="false" />
        <activity
            android:name=".Welcome.WelcomePage"
            android:exported="false" />
        <activity
            android:name=".CreateAccount.SignUp"
            android:exported="false" />
        <activity
            android:name=".Event.EventActivity"
            android:exported="false" />
        <activity android:name=".Event.UserEventActivity"
            android:exported="false" />
        <activity android:name=".Event.UserMyEvent"
            android:exported="false" />
        <activity
            android:name=".Category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserList.UserList"
            android:exported="false" />
        <activity
            android:name=".AttendeeList.AttendeeList"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>